body {
  font-size: 16px;
}
.encabezado {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: gray;
  width: 100%;
}
.encabezado1,
.encabezado2 {
  margin: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu1 {
  background-color: green;
  width: 40%;
}
.menu2 {
  background-color: maroon;
  width: 60%;
}
.logo {
  background-color: blue;
  width: 20%;
}
.contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.contenedor1,
.contenedor2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0.5%;
}
.izquierda,
.derecha,
.centro {
  flex-grow: 1;
  border-radius: 10px;
  height: 80vh;
}
.izquierda {
  background-color: rgb(59, 57, 57);
  margin-right: 0.5%;
}
.centro {
  background-color: aqua;
  margin-right: 0.5%;
}
.derecha {
  background-color: orange;
}
.izquierda2 {
  background-color: rgb(5, 88, 41);
  width: 67%;
  height: 80vh;
  border-radius: 10px;
  margin-right: 0.5%;
}
.derecha2 {
  background-color: rgb(161, 6, 6);
  width: 33%;
  height: 80vh;
  border-radius: 10px;
}
.pie {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  background-color: mediumturquoise;
  width: 100%;
  margin-top: 0.5%;
}
.elemento {
  align-self: flex-end;
  background-color: blue;
  width: 15vw;
  margin: 1%;
}
p {
  font-size: 1.5vw;
  font-family: "Times New Roman", Times, serif;
}
